@model IEnumerable<myBook.Models.TacGia>
@{
    ViewData["Title"] = "Danh sách tác giả";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm tác giả mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tên tác giả</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenTG</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaTG">Sửa</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaTG">Xóa</a> |
                    <a asp-action="Details" asp-route-id="@item.MaTG">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
